/*******FONTS******/
@font-face {
    font-family: 'Roboto', sans-serif;
    src: url(fonts/Roboto-Regular.ttf) format('truetype'),
         url(fonts/Roboto-Italic.ttf) format('truetype'),
         url(fonts/Roboto-Bold.ttf) format('truetype');
}
@font-face {
    font-family: 'Roboto Condensed', sans-serif;
    src: url(fonts/RobotoCondensed-Bold.ttf) format('truetype'),
         url(fonts/RobotoCondensed-Regular.ttf) format('truetype');
}
/*******GLOBAL CLASSES******/
html, body {
    height: 100%;
    font-family: 'Roboto Condensed', sans-serif;
}
p {
    font-family: 'Roboto', sans-serif;
}
h1, h3{
    font-weight:bold;
}
.inline{
    display:inline-block;
}
#map{
    position: absolute;
    width:100%;
}
.red-button-container{
    text-align:center;
    width:100%;
}
.red-button{
    background:#C41E3A;
    border-radius:5px;
}
.red-button-link{
    color:white;
    text-decoration: none;
    padding:15px 5px;
    display:inline-block;
    font-size:18px;
}
.red-button-link:hover{
    color:white;
    cursor:pointer;
}
.inactive{
    color:gray !important;
    background:#C46273;
    border-radius:5px;
}
.inactive:hover{
    color:gray;
    cursor:auto;
}
audio{
    display:none;
}
/*******LEAFLET POPUPS*******/
.leaflet-popup-content-wrapper, .leaflet-popup-tip {
    background-color: #CE3234;
    color: #FFF;
    font-weight: bold;
    font-size: 1.2rem;
    font-family: 'Roboto Condensed', sans-serif;
}
/*******CALLOUT/TOOLTIP*******/
.callout {
    position: fixed;
    z-index: 1000;
    /*margin: 18px 0;*/
    padding: .6rem;
    background-color: #C41E3A;
    /* easy rounded corners for modern browsers */
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    box-shadow: 0px 0px 2px;
    -webkit-box-shadow: 0px 0px 2px;
    -moz-box-shadow: 0px 0px 2px;
}

.callout span {
    color: #fff;
    font-size:18px;
}

.callout .notch {
    position: absolute;
    bottom: -10px;
    left: 50px;
    margin: 0;
    border-bottom: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #C41E3A;
    padding: 0;
    width: 0;
    height: 0;
}
/*******POINT FIELD POPUPS******/
.point-field-img{
    max-width:100%;
}
/*******SPLASH********/
#splash .red-button{
    margin: 0 18px 20px 18px;
}
#loading{
    color: #C41E3A;
    font-size: 0.8125rem;
    line-height: 32px;
    text-align:center;
    padding-bottom:25px;
}
#massey {
    margin-left: 50%;
}
#splash-title{
    font-size: 3em;
    text-align: center;
    margin:30px 0 30px;
}
#splash-content{
    background:rgba(255,255,255,0.9);
}
/*******NAVBAR*******/
.container-fluid{
    padding:0;
}
.navbar{
    background:#C41E3A !important;
    padding:0;
}
.nav-link{
    color:white !important;
}
.nav-link:hover{
    background:#cccccc;
}
.menu-button{
    width:100%;
    text-align:right;
    background:black;
    border:none;
    color:#666666;
    padding:10px;
}
.nav-item, .dropdown-item{
    font-size:20px;
}
.dropdown-item{
    font-weight:300;
}
/*Landmark Dropdown*/
.dropdown-item{
    color:white;
}
.dropdown-item:hover{
    background:#cccccc;
    cursor:pointer;
}
#landmark-dropdown{
    padding:0;
    margin:0;
    background:#C41E3A;
    border:none;
    border-radius:0;
    color:white !important;
}
#landmark-dropdown:hover{
    border-radius:0;
}
/*****INFO PANELS******/
.fakeButton {
    background: #C41E3A;
    padding: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    box-shadow: #000 0px 0px 2px;
    -webkit-box-shadow: #000 0px 0px 2px;
    -moz-box-shadow: #000 0px 0px 2px;
    color: #FFF;
    font-size: 0.8125rem;
    font-weight: normal;
    text-transform: none;
}
/******SLIDESHOW*******/
.container{
    padding:20px 0 0;
}
#text-image, #landmark-image{
    width:100%;
}
#next-button-container{
    float:right;
}
#read-button-container{
    float:center;
}
#previous-button-container{
    float:left;
}
#proceed-container{
    width:150px;
    text-align:center;
    margin:auto;
}

/******RESPONSIVE DESIGN******/
@media only screen and (min-width:1000px){
    .landmark-single-image{
        width:50%;
        margin:auto;
        display:block;
    }
}
@media only screen and (min-width:768px) and (max-width:1000px){
    .landmark-single-image{
        width:100%;
    }
}

@media only screen and (min-width:768px){
    /******MAP/CONTAINER*****/
    #container, #map{
        height: calc(100% - 50px);
    }
    /******SPLASH SCREEN******/
    #splash-body{
        padding:25px 6.5% 25px;
        background-image:url("../img/splashbackground_desktop.jpg");
        background-size:cover;
    }
    #splash-content{
        flex:0 1 auto;
    }
    /****FULL NAVBAR****/
    .back-button{
        display:none;
    }
    /*LANDMARK DROPDOWN MENU*/
    #landmark-dropdown{
        z-index:2000;
    }

}
@media only screen and (max-width:768px){
    /******MAP/CONTAINER*****/
    #container, #map{
        height: 100%;
        z-index:1;
    }
    /******SPLASH SCREEN******/
    #splash-body{
        padding:25px;
        background-image:url("../img/splashbackground.jpg");
        background-size:cover;
    }
    /****COLLAPSED NAVBAR****/
    .navbar{
        position:absolute;
        bottom:0;
        width:100%;
        z-index:10;
    }
    .menu-toggler.collapsed{
        width:140px;
        position:absolute;
        background:#C41E3A;
        border:none;
        color:white;
        text-align:right;
        bottom:0;
        right:0;
    }
    .menu-toggler{
        width:100%;
        text-align:right;
        background:black;
        border:none;
        color:#666666;
        padding:10px;
        font-size:18px;
    }
    .menu-toggler .menu-icon{
        opacity:0.5;
    }
    .menu-toggler.collapsed .menu-icon{
        opacity:1;
    }
    .nav-link, .dropdown-item{
        padding-left:10px !important;
    }
    .menu-icon{
        width:25px;
        height:25px;
        margin:0px 10px 0px;
    }
    #landmark-dropdown{
        width:100%;
    }
    #arrow{
        float:right;
        margin-right:10px;
    }
    .leaflet-control-zoom{
        display:none;
    }
    .landmark-single-image{
        width:100%;
    }
}
